.pacient_details {
    padding: 2em;
}

.pacient_details h1,
.pacient_details p {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.pacient_details h1, .pacient_details h2 {
    background-color: #e0dcdc;
    color: #0856cf;
    padding: 0.5em;
    margin-bottom: 1.3em;
    font-size: 1em;
}

.pacient_details p span{
    color: #7a7a7a;
}

.pacient_details h1 span{
    color: #7a7a7a;
}

.pacient_details_container{
    border-bottom: 1px solid #7a7a7a;
    margin-bottom: 1.2em;
    padding-bottom: 1.2em;
}

.pacient_details_container div{
    margin-top: 1.2em;
    /* padding-bottom: 1.2em; */
}

.btn{
    background-color: #0856cf;
    color: #fff;
    padding: 0.5em 1em;
    text-decoration: none;
    transition: 0.3s;
    border-radius: 0.3em;
    cursor: pointer;
    border: none;
    max-height: 40px;
}

.btn:hover{
    color: #b7e3ff;
}

.edit_paciente_container{
    width: 600px;
    margin: 0 auto;
}